*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
   background-color: #222327;
}
header{
    background-color: #14141a;
    padding: 20px;
}

h1{
    margin-top: 1em;
    color:#fff;
}

.nav-bar{
    display: flex;
}

ul{
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

li{
    
    list-style: none;
    padding: 10px;
    margin-top: -2em;
}

.icon{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container{
    display: grid;
    grid-template-columns:minmax(100px, max-content)
                        repeat(auto-fill, 200px) 20%;
    color: white;
    padding: 10px;
}