*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
   background-color: #222327;
}
header{
    background-color: #14141a;
    padding: 5px;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
}

h1{
    margin-top: 2em;
    color:#fff;
}

.nav-ul{
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    transition: 500ms ease;
}

a:hover{
    color: black;
}

.list{
    
    list-style: none;
    padding: 10px;
    margin-top: -4em;
    transition: 500ms ease;
}

.list:hover{
    background-color: #fff;
    border-radius: 20px;

}

.icon{
    display: flex;
    justify-content: center;
    padding: 10px;
}

